/* ----------Google Font Link-----  */
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Poppins:wght@500&display=swap');

body {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Poppins', sans-serif;
}

.color {
    /* color: rgb(248, 115, 66); */
    /* color: #078376; */
    /* color: #4caf50; */
    color: rgb(49, 48, 48);

}